{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <title>Django Projects</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
            <li>
                <a href="{% url 'projects' %}">Projects</a>
            </li>
            <li>
                <a href="{% url 'tasks' %}">Tasks</a>
            </li>
            <li>
                <a href="{% url 'intereses' %}">Intereses</a>
            </li>
            <li>
                <a href="{% url 'aptitudes' %}">Aptitudes</a>
            </li>
            <li>
                <a href="{% url 'forms' %}">Forms</a>
            </li>
        </ul>
    </nav>
    <div class="blockcontent">
        {% block content %}
        {% endblock %}
    </div>
    
</body>

</html>