{% extends 'layouts/base.html' %}
{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio aliquam sunt eos voluptas repudiandae, inventore dolore corrupti consequuntur quis nam adipisci atque excepturi veniam amet incidunt. Molestiae nemo libero nesciunt consectetur, iure rem, laboriosam ut error perspiciatis blanditiis fugit totam ipsum vitae quam quo ex unde, eveniet placeat modi consequatur corrupti qui impedit amet. Incidunt doloremque quos debitis. Quod quia fugiat ducimus explicabo sequi provident quis nesciunt eum error dignissimos quisquam ea facere exercitationem eligendi hic deleniti id magni aliquam, amet aut alias aspernatur possimus voluptatibus laboriosam. Illum cupiditate placeat quisquam, sit modi provident veritatis magnam? Veritatis accusamus quod minus?</p>
<br/><br/>
<p>Created by {{ creator }}</p>

{% endblock %}